.loader_components {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  .circle {
    position: relative;
    width: 170px;
    height: 170px;
    background-color: rgba(189, 223, 249, 0.5);
    border-radius: 50%;

    .custom-indicator {
      position: relative;
      width: 150px;
      height: 150px;
      background-color: #ffff;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .loading-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        border-radius: 50%;
        z-index: 2;
      }
    }

    .loading-icon {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 170px;
      z-index: 1;
      color: #0e1eca;
      border-radius: 50%;
    }
  }
}

.loading_overlay {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 9999;

  .circle {
    position: relative;
    width: 170px;
    height: 170px;
    background-color: rgba(189, 223, 249, 0.5);
    border-radius: 50%;

    .custom-indicator {
      position: relative;
      width: 150px;
      height: 150px;
      background-color: #ffff;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .loading-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        border-radius: 50%;
        z-index: 2;
      }
    }

    .loading-icon {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 170px;
      z-index: 1;
      color: #0e1eca;
      border-radius: 50%;
    }
  }
}
